.lady-block figure {
	position: relative;
	margin: 0 0 1rem 1rem;
}
.photo-lady {
	width: 100%;
	height: auto;
}
.lady-block {
	padding: 15px;
}

.ladies-screen .slider_name {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	bottom: 10%;
	color: #ed3333;
	text-align: center;
	font-size: 1.55em;
	line-height: 1;
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
}

.lady-block:hover .slider_name {
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	opacity: 0;
}
